@inject IHttpContextAccessor accessor
@model OrderVM
@{
	ViewData["Title"] = "Order Details";

	string orderStatus = Model.OrderHeaderResponse.OrderStatus.ToString();
	string paymentStatus = Model.OrderHeaderResponse.PaymentStatus.ToString();

	var userId = UserHelper.GetCurrentUserId(accessor);

	bool isAdmin = User.IsInRole(Role.Admin.ToString());
	bool isReadOnly = !isAdmin || Model.IsCancelled;
}

<breadcrumb></breadcrumb>

<div class="content-lg">
	<header class="header text-center">
		<h2 class="text-dark-primary fs-7">Order Details <i class="bi bi-box2"></i></h2>
	</header>
	<div class="row mt-4">
		<div class="col-12">
			<form method="post">
				<input asp-for="OrderHeaderResponse.Id" hidden />
				<input asp-for="OrderHeaderResponse.ApplicationUserId" hidden />
				<input asp-for="OrderHeaderResponse.OrderStatus" hidden />

				<a asp-action="Index" class="btn btn-link text-decoration-none p-0 ms-n3"><i class="bi bi-caret-left-fill"></i> Back to Orders</a>

				<div class="row text-center mt-3">
					<!-- Pickup Details -->
					<section class="col-6">
						<fieldset class="fieldset">
							<legend class="legend fs-5 fw-semibold text-heading text-start" style="margin-bottom: 35px">Pickup Details:</legend>
							<div class="row gy-3">
								<!-- Name -->
								<div>
									<div class="row">
										<div class="col-3 align-self-center">
											<p class="my-0">Name:</p>
										</div>
										<div class="col-9">
											<input asp-for="OrderHeaderResponse.Name" class="form-control" readonly="@isReadOnly" />
											<span asp-validation-for="OrderHeaderResponse.Name" class="text-danger"></span>
										</div>
									</div>
								</div>
								<!-- Phone -->
								<div>
									<div class="row">
										<div class="col-3 align-self-center">
											<p class="my-0">Phone:</p>
										</div>
										<div class="col-9">
											<input asp-for="OrderHeaderResponse.PhoneNumber" class="form-control" readonly="@isReadOnly" />
											<span asp-validation-for="OrderHeaderResponse.PhoneNumber" class="text-danger"></span>
										</div>
									</div>
								</div>
								<!-- Address -->
								<div>
									<div class="row">
										<div class="col-3 align-self-center">
											<p class="my-0">Address:</p>
										</div>
										<div class="col-9">
											<input asp-for="OrderHeaderResponse.Address" class="form-control" readonly="@isReadOnly" />
											<span asp-validation-for="OrderHeaderResponse.Address" class="text-danger"></span>
										</div>
									</div>
								</div>
								<!-- Email -->
								<div>
									<div class="row">
										<div class="col-3 align-self-center">
											<p class="my-0">Email:</p>
										</div>
										<div class="col-9">
											<input asp-for="OrderHeaderResponse.Email" class="form-control" readonly="@isReadOnly" />
											<span asp-validation-for="OrderHeaderResponse.Email" class="text-danger"></span>
										</div>
									</div>
								</div>
								<!-- Order Date -->
								<div>
									<div class="row">
										<div class="col-3 align-self-center">
											<p class="my-0">Order Date:</p>
										</div>
										<div class="col-9">
											<input value="@Model.OrderHeaderResponse.OrderDate.ToLongDateString()" class="form-control" readonly />
											<span asp-validation-for="OrderHeaderResponse.OrderDate" class="text-danger"></span>
										</div>
									</div>
								</div>
								@if (Model.IsProcessing || Model.IsShipped || Model.IsCancelled)
								{
									<!-- Carrier -->
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Carrier:</p>
											</div>
											<div class="col-9">
												<input asp-for="OrderHeaderResponse.Carrier" class="form-control" readonly="@isReadOnly" />
												<span asp-validation-for="OrderHeaderResponse.Carrier" class="text-danger"></span>
											</div>
										</div>
									</div>
									<!-- Tracking Number -->
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Tracking Number:</p>
											</div>
											<div class="col-9">
												<input asp-for="OrderHeaderResponse.TrackingNumber" class="form-control" readonly="@isReadOnly" />
												<span asp-validation-for="OrderHeaderResponse.TrackingNumber" class="text-danger"></span>
											</div>
										</div>
									</div>
								}
								@if (Model.IsShipped || Model.IsCancelled)
								{
									<!-- Shipping Date -->
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Shipping Date:</p>
											</div>
											<div class="col-9">
												<input value="@(Model.OrderHeaderResponse.ShippingDate != null ? Model.OrderHeaderResponse.ShippingDate.Value.ToLongDateString() : null)" class="form-control" readonly />
												<span asp-validation-for="OrderHeaderResponse.ShippingDate" class="text-danger"></span>
											</div>
										</div>
									</div>
								}
								@if (Model.IsPaymentApproved || Model.IsCancelled)
								{
									<!-- Payment ID -->
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Payment ID:</p>
											</div>
											<div class="col-9">
												<input asp-for="OrderHeaderResponse.PaymentID" class="form-control" readonly />
												<span asp-validation-for="OrderHeaderResponse.PaymentID" class="text-danger"></span>
											</div>
										</div>
									</div>
								}
								@if (Model.IsPaymentPending || Model.IsPaymentDelayed || Model.IsPaymentCancelled || Model.IsCancelled)
								{
									<!-- Payment Due Date -->
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Payment Due Date:</p>
											</div>
											<div class="col-9">
												<input value="@(Model.OrderHeaderResponse.PaymentDueDate != null ? Model.OrderHeaderResponse.PaymentDueDate.Value.ToLongDateString() : null)" class="form-control" readonly />
												<span asp-validation-for="OrderHeaderResponse.PaymentDueDate" class="text-danger"></span>
											</div>
										</div>
									</div>
								}
								<!-- Payment Status -->
								<div>
									<div class="row">
										<div class="col-3 align-self-center">
											<p class="my-0">Payment Status:</p>
										</div>
										<div class="col-9">
											<input asp-for="OrderHeaderResponse.PaymentStatus" class="form-control" readonly />
											<span asp-validation-for="OrderHeaderResponse.PaymentStatus" class="text-danger"></span>
										</div>
									</div>
								</div>
								<!-- Button -->
								@if (isAdmin && (!Model.IsCancelled && !Model.IsShipped))
								{
									<div>
										<div class="row">
											<div class="">
												<button type="submit" asp-action="UpdateDetails" class="btn btn-secondary form-control">Update Order Details</button>
											</div>
										</div>
									</div>
								}
							</div>
						</fieldset>
					</section>
					<!-- Order Summary -->
					<section class="col-5 mx-auto">
						<h5 class="fs-5 fw-semibold text-start">Order Summary:</h5>
						<div class="mt-4 border border-light-gray shadow-md rounded p-4">
							<h6 class="text-uppercase text-center d-block border border-secondary text-secondary rounded py-2 mt-2">Order Status - @Model.OrderHeaderResponse.OrderStatus</h6>
							<!-- Items -->
							<ul class="list-group mt-2">
								<li class="list-group-item">
									<div class="row">
										<div class="col-4">
										</div>
										<div class="col-4 text-end">
											<h6 class="m-0">Price</h6>
										</div>
										<div class="col-4 text-end">
											<h6 class="m-0">Subtotal</h6>
										</div>
									</div>
								</li>
								@foreach (var item in Model.OrderSummaryResponse!.OrderSummaryItems)
								{
									<li class="list-group-item">
										<div class="row align-items-center">
											<div class="col-4 text-start align-self-center">
												<h6 class="m-0">@item.Product?.Name</h6>
												<small class="d-block">Quantity: @item.Count</small>
											</div>
											<div class="col-4 text-end">
												<p class="m-0">@item.Product?.Price.ToString("c")</p>
											</div>
											<div class="col-4 text-end">
												<p class="m-0">
													@item.TotalPrice.ToString("c")
												</p>
											</div>
										</div>
									</li>
								}
								<li class="list-group-item d-flex justify-content-between align-middle fs-5 bg-secondary text-light">
									<p class="mb-0 text-uppercase">Total</p>
									<p class="mb-0">@Model.OrderSummaryResponse.TotalPrice.ToString("c")</p>
								</li>
							</ul>
							<!-- Buttons -->
							<div class="row g-2 mt-2">
								@if ((Model.IsPending || (Model.IsPaymentCancelled && !Model.IsCancelled) || (Model.IsShipped && Model.IsPaymentDelayed)) && Model.OrderHeaderResponse.ApplicationUserId == userId)
								{
									<a asp-action="Pay" asp-route-id="@Model.OrderHeaderResponse.Id" class="btn btn-success form-control">Pay Now</a>
								}
								@if (isAdmin)
								{
									@if (Model.IsApproved)
									{
										<a asp-action="Process" asp-route-id="@Model.OrderHeaderResponse.Id"
										   class="btn btn-primary form-control">Start Processing</a>
									}
									@if (Model.IsProcessing)
									{
										<button type="submit" asp-action="Ship" class="btn btn-primary form-control">Ship Order</button>
									}
								}
								@if (!Model.IsCancelled && !Model.IsShipped)
								{
									<a onclick="CancelOrder(@Model.OrderHeaderResponse.Id)" class="btn btn-danger form-control">Cancel Order</a>
								}
							</div>
						</div>
					</section>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/order_cancel.js"></script>
}