@model CheckoutVM
@{
	ViewData["Title"] = "Checkout";
}

<div class="content-lg">
	<header class="header text-center">
		<h2 class="text-dark-primary fs-7">Checkout <i class="bi bi-send-check"></i></h2>
	</header>
	<div class="row mt-4">
		<div class="col-10 offset-1">
			<a asp-action="Index" class="btn btn-link text-decoration-none p-0 ms-n3"><i class="bi bi-caret-left-fill"></i> Back to cart</a>
			<form method="post">
				<div class="row gy-3 pt-2">
					<input asp-for="ApplicationUserId" hidden />
					<input asp-for="EstimatedFromDate" hidden />
					<input asp-for="EstimatedToDate" hidden />
					<input asp-for="TotalPrice" hidden />
					<!-- Order Summary -->
					<section class="mt-4 px-0">
						<ul class="list-group">
							@if (Model.CartItemResponses != null && Model.CartItemResponses.Any())
							{
								<li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 p-4">
									<h5 class="col mb-0">Products Ordered</h5>
									<div class="col-6">
										<div class="d-flex justify-content-end">
											<p class="col-4 m-0 text-start text-md-end">Unit Price</p>
											<p class="col-4 m-0 text-center text-lg-end">Quantity</p>
											<p class="col-4 m-0 text-end"><span class="d-none d-md-inline">Item</span> Subtotal</p>
										</div>
									</div>

								</li>
								<!-- Products -->
								foreach (var cart in Model.CartItemResponses)
								{
									string classColor = (cart.Color != Color.None && cart.Color != Color.White) ? $"text-{cart.Color.ToString().ToLower()}" : "";

									<li class="list-group-item d-flex justify-content-between px-4">
										<div>
											<h6 class="text-truncate checkout-product-name my-0">@cart.Product.Name</h6>
											<div class="my-0">
												<small class="fst-italic">
													Color:
													<span class="@classColor">@cart.Color</span>
												</small>
											</div>
										</div>
										<div class="col-6">
											<div class="d-flex justify-content-end text-end">
												<p class="col-4 m-0">@cart.Product.Price.ToString("c")</p>
												<p class="col-4 m-0 pe-4">@cart.Count</p>
												<p class="col-4 m-0">@cart.TotalPrice.ToString("c")</p>
											</div>
										</div>
									</li>
								}
							}
							<!-- Total -->
							<li class="list-group-item d-flex justify-content-between px-4">
								<small class="fw-semibold">Total (USD)</small>
								<strong>@Model.TotalPrice.ToString("c")</strong>
							</li>
						</ul>
					</section>
					<!-- Shipping Details -->
					<section class="mt-5 rounded bg-checkout">
						<div class="row p-3">
							<div class="col-6"></div>
							<div class="col-12 col-lg-6 bg-white rounded shadow-md p-3">
								<h5>Shipping Details:</h5>
								<div class="row gy-3 mt-2">
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Name:</p>
											</div>
											<div class="col-9">
												<input asp-for="Name" class="form-control" />
												<span asp-validation-for="Name" class="text-danger"></span>
											</div>
										</div>
									</div>
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Phone:</p>
											</div>
											<div class="col-9">
												<input asp-for="PhoneNumber" class="form-control" />
												<span asp-validation-for="PhoneNumber" class="text-danger"></span>
											</div>
										</div>
									</div>
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Address:</p>
											</div>
											<div class="col-9">
												<input asp-for="Address" class="form-control" />
												<span asp-validation-for="Address" class="text-danger"></span>
											</div>
										</div>
									</div>
									<div>
										<div class="row">
											<div class="col-3 align-self-center">
												<p class="my-0">Email:</p>
											</div>
											<div class="col-9">
												<input asp-for="Email" class="form-control" />
												<span asp-validation-for="Email" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<section class="mt-5">
					<hr />
					<div class="d-flex justify-content-between">
						<small class="text-danger">
							Estimate Arrival Date:
							<span class="fw-semibold">@Model.EstimatedFromDate.ToShortDateString() - @Model.EstimatedToDate.ToShortDateString()</span>
						</small>
						<button type="submit" class="btn btn-primary">Place Order</button>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>
