@model ProductDetailsVM
@{
	ViewData["Title"] = Model.CartItemAddRequestVM.ProductResponse.Name;

	var pager = ViewBag.Pager as PagerService;
	int totalStars = (int)Model.CartItemAddRequestVM.ProductResponse.TotalRating;
}
<breadcrumb></breadcrumb>

<div class="content-lg">
	<div class="col-12 row gap-11">
		<!-- Product Details -->
		<section class="bg-details rounded rounded-3 ps-5 py-3" aria-labelledby="product-details-header">
			<header id="product-details-header" class="visually-hidden">Product Details</header>
			@using (Html.BeginForm("Details", "Home", FormMethod.Post))
			{
				<input asp-for="CartItemAddRequestVM.ProductResponse.Id" hidden aria-hidden="true" />
				<input asp-for="CartItemAddRequestVM.CartItemAddRequest.ProductId" hidden aria-hidden="true" />
				<input asp-for="CartItemAddRequestVM.CartItemAddRequest.ApplicationUserId" hidden aria-hidden="true" />

				<a asp-action="Index" class="btn btn-link text-decoration-none p-0 ms-n3" aria-label="Back to Home" title="Back to Home">
					<i class="bi bi-caret-left-fill" aria-hidden="true"></i> Back to Home</a>

				<div class="row mt-4" aria-labelledby="product-carousel">
					<!-- Left Column -->
					<div class="col-4 carousel-container">
						@{
							var product = Model.CartItemAddRequestVM.ProductResponse;
						}
						@if (product.ProductImages?.Count > 1)
						{
							<div id="carousel" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-theme="dark" 
							aria-labelledby="carousel-label">
							<div id="carousel-label" class="visually-hidden">Product Images Carousel</div>
								<div class="carousel-indicators">
									@for (int i = 0; i < product.ProductImages.Count; i++)
									{
										<button type="button" data-bs-target="#carousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"
												aria-current="true" aria-label="Slide @(i + 1)"></button>
									}
								</div>
								<div class="carousel-inner">
									@for (int i = 0; i < product.ProductImages.Count; i++)
									{
										<div class="carousel-item @(i == 0 ? "active" : "")" data-bs-interval="5000">
											<img src="@product.ProductImages.ElementAt(i).Path" alt="Product image" 
											title="Product image">
										</div>
									}
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" 
								aria-label="Previous Slide">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" aria-label="Next Slide">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
							<hr />
							<!-- Mini Images -->
							<div class="row mt-3">
								@foreach (var image in product.ProductImages.Take(4))
								{
									<div class="col-6 col-md-4 col-lg-3 d-flex align-items-center mt-2">
										<img src="@image.Path" class="w-100" alt="Additional product image" title="Product image">
									</div>
								}
							</div>
						}
						else
						{
							<partial name="_ProductImagePartial" model="product" />
						}
					</div>

					<!-- Right Column-->
					<div class="col-8 ps-5">
						<div class="mt-3">
							<!-- Product Details -->
							<div class="d-inline-block">
								<p class="badge bg-orange pb-2">@product.Category.Name</p>
								<h4 class="text-truncate-multiline text-break" aria-label="Product Name">@Model.CartItemAddRequestVM.ProductResponse.Name</h4>
							</div>
							<div class="d-flex align-items-center">
								<div class="d-inline-block" aria-label="Product Rating">
									<span class="text-decoration-underline me-1 fs-4">
										@product.TotalRating.ToString("F1")
									</span>
									<span class="d-inline-block">
										<partial name="_ProductRatingPartial" model="product" />
									</span>
								</div>
								<div class="vr fs-7 mx-2"></div>
								<div>
									<span class="text-decoration-underline me-1 fs-4">
										@product.ProductReviews?.Count
									</span>
									<span class="text-black-50">Ratings</span>
								</div>
							</div>
							<div class="mt-3 lh-sm text-muted">
								<span class="text-primary fw-semibold fs-6" aria-label="Product Price">
									@product.Price.ToString("c")
								</span>
								<span class="me-1 text-primary">
									<i class="bi bi-tags-fill" aria-hidden="true"></i>
								</span>
								@if (product.ListPrice > 0 && product.ListPrice != product.Price)
								{
									<span class="mb-2 text-decoration-line-through text-black-50">@product.ListPrice.Value.ToString("c")</span>
								}
							</div>
							<!-- Colors -->
							@if (product.Colors.FirstOrDefault() != Color.None)
							{
								<div class="mt-4 row" aria-labelledby="available-colors-label">
									@{
										var colors = product.Colors;
									}
									<label id="available-colors-label" class="form-label text-muted small opacity-75">Available Colors:</label>
									<div class="d-colors">
										@for (int i = 0; i < colors.Count; i++)
										{
											<div class="d-inline-block mx-1">
												<input type="radio" class="btn-check" asp-for="CartItemAddRequestVM.CartItemAddRequest.Color"
													   id="color@(i)" value="@colors[i]" autocomplete="off" />
												<label for="color@(i)" class="color-option bg-@colors[i].ToString().ToLower()" title="@colors[i]"></label>
											</div>
										}
									</div>
									<span asp-validation-for="CartItemAddRequestVM.CartItemAddRequest.Color" class="text-danger" role="alert"></span>
								</div>
							}
							<!-- Buttons -->
							<div class="row mt-5">
								<div class="col-7 col-md-5 col-lg-4 col-xl-3">
									<div class="mt-3 input-group">
										<div class="input-group-text bg-secondary border-0 text-light fw-bold">Count</div>
										<input asp-for="CartItemAddRequestVM.CartItemAddRequest.Count" type="number" min="1" value="1"
											   class="form-control border-1 rounded-0 rounded-end text-end pe-2" aria-label="Quantity" />
										<span asp-validation-for="CartItemAddRequestVM.CartItemAddRequest.Count" class="text-danger" role="alert"></span>
									</div>
								</div>
								<div class="my-3">
									<button type="submit" class="btn btn-primary" aria-label="Add to Cart" title="Add to Cart">Add to cart</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</section>

		<!-- Product Description -->
		<section class="row" aria-labelledby="product-description-header">
			<div class="col-md-9 col-lg-8 border-light-gray overflow-auto mx-auto" style="max-height: 70vh">
				<header>
					<h4 id="product-description-header" class="text-uppercase">Product Description</h4>
				</header>
				<div>
					<p>@Html.Raw(Model.CartItemAddRequestVM.ProductResponse.Description)</p>
				</div>
			</div>
		</section>

		<!-- Product Reviews -->
		<section class="row" aria-labelledby="reviews-header">
			<div class="col-md-9 col-lg-8 mx-auto">
				<header>
					<h4 id="reviews-header" class="text-uppercase text-secondary" aria-live="polite">
						Product Reviews <i class="bi bi-chat-square-dots" aria-hidden="true"></i></h4>
				</header>
				<div>
					@if (User.Identity!.IsAuthenticated)
					{
						<section class="mb-5">
							@using (Html.BeginForm("AddReview", "Home", FormMethod.Post))
							{
								var productReviewAddRequest = Model.ProductReviewVM.ProductReviewAddRequest;

								<input asp-for="@productReviewAddRequest.ProductId" hidden aria-hidden="true" />
								<input asp-for="@productReviewAddRequest.DatePosted" hidden aria-hidden="true" />
								<input asp-for="@productReviewAddRequest.UserName" id="userName" hidden aria-hidden="true" />
								<input asp-for="@productReviewAddRequest.Rating" id="rating" hidden aria-hidden="true" />
								<!-- Star Rating -->
								<div>
									<strong id="myName">@productReviewAddRequest.UserName</strong>
								</div>
								<div class="text-orange mb-3" onmouseout="rateSelected()" aria-label="Rate this product" role="group">
									@for (int i = 1; i <= 5; i++)
									{
										<span id="span@(i)" onmouseout="rateOut(@(i))" onmouseover="rateOver(@(i))" onclick="rate(@(i))" class="bi bi-star" role="button" aria-label="Star rating @i"></span>
									}
								</div>
								<span asp-validation-for="@productReviewAddRequest.Rating" class="text-danger" role="alert"></span>
								<!-- Comment -->
								<textarea asp-for="@productReviewAddRequest.Comment" class="form-control" rows="3" placeholder="Type your review..." 
									aria-describedby="review-comment-help"></textarea>
								<span asp-validation-for="@productReviewAddRequest.Comment" class="text-danger" role="alert"></span>
								<div class="d-flex align-items-center mt-2">
									<button type="submit" class="btn btn-sm btn-secondary" aria-label="Submit your review" title="Submit your review">
										Add Review
										</button>
									<input type="checkbox" onchange="changeUserName(this.checked)" class="form-check-input ms-2 me-1" id="anonymous"
									aria-label="Submit as anonymous" title="Submit as anonymous" />
									<label for="anonymous" class="form-check-label">Anonymous?</label>
								</div>
							}
						</section>

					}
				</div>
				<!-- All Reviews -->
				<div aria-live="polite">
					@if (Model.ProductReviewVM.ProductReviewResponses?.Count() > 0)
					{
						<div>
							@foreach (var review in Model.ProductReviewVM.ProductReviewResponses)
							{
								<div class="mb-4">
									<partial name="_ProductReviewPartial" model="review" />
								</div>
							}
						</div>
					}
				</div>
				<!-- Pagination -->
				<nav class="container" aria-label="Product reviews pagination">
					@if (pager!.TotalPages > 0)
					{
						<ul class="pagination justify-content-end">
							@for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
							{
								<li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
									<a href="/Home/Details/@(Model.CartItemAddRequestVM.ProductResponse.Id)?page=@pge"
											   class="page-link" aria-current="@(pge == pager.CurrentPage ? "page" : null)">@pge</a>
								</li>
							}
						</ul>
					}
				</nav>
			</div>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/star_rating.js"></script>
}
